.Building {
    background-color: black;
    border-radius: 20px;
    margin: 10px;
    padding-bottom: 15px;
}

.Building__name {
    margin-top: 5%;
    margin-bottom: 0;
}

.Building__income-increase {
    margin-top: 6%;
    margin-bottom: 0;
}

.Building__owned {
    margin-top: 3%;
    margin-bottom: 0;
}

.Building__cost {
    margin-top: 3%;
    margin-bottom: 10%;
}
